
Library
Temp
ProjectFiles
UnityPackageManager
.vs/Unity_VirtualizingTreeView/v15/Server/sqlite3/storage.ide-wal
.vs/Unity_VirtualizingTreeView/v15/Server/sqlite3/storage.ide-shm
.vs/Unity_VirtualizingTreeView/v15/Server/sqlite3/storage.ide
.vs/Unity_VirtualizingTreeView/v15/Server/sqlite3/db.lock
.vs/Unity_VirtualizingTreeView/v15/.suo
.vs/Unity_VirtualizingTreeView/DesignTimeBuild/.dtbcache
obj/Debug/Assembly-CSharp-Editor.csproj.CoreCompileInputs.cache
obj/Debug/Assembly-CSharp-Editor.csprojAssemblyReference.cache
obj/Debug/Assembly-CSharp.csproj.CopyComplete
obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
obj/Debug/Assembly-CSharp.csproj.FileListAbsolute.txt
obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
obj/Debug/Assembly-CSharp.dll
obj/Debug/Assembly-CSharp.pdb
obj/Debug/build.force
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
