
Library
Temp
ProjectFiles
UnityPackageManager
.vs/Unity_VirtualizingTreeView/v15/Server/sqlite3/storage.ide-wal
.vs/Unity_VirtualizingTreeView/v15/Server/sqlite3/storage.ide-shm
.vs/Unity_VirtualizingTreeView/v15/Server/sqlite3/storage.ide
.vs/Unity_VirtualizingTreeView/v15/Server/sqlite3/db.lock
.vs/Unity_VirtualizingTreeView/v15/.suo
.vs/Unity_VirtualizingTreeView/DesignTimeBuild/.dtbcache
